*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Raleway", sans-serif;
    background: #2F3238;
    cursor: grab;
    
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 1100px;
    

}
section .card {
    position: relative;
    width: 320px;
    height: 320px;
    transform-style: preserve-3d;
    margin: 20px;
    perspective: 1000px;

}
section .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition:  1s ease;
    
}
section .card:hover .box{
    transform: rotateY(180deg);
    
}
.card:hover{
cursor: grabbing;
}

section .card .box .imgbx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section .card .box .imgbx img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .card .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f06065c;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}
section .card .box .content div {
    transform-style: preserve-3d;
    padding: 20px;
    background:  rgba(255, 205, 243, 0.843);
    transform: translateZ(100px);
}
section .card .box .content div h2 { 
    color: rgb(19, 21, 23);
    font-size: 20px;
    letter-spacing: 1px;
    
}

span{
    font-weight: 800;
    color: rgb(217, 11, 148);
}
section .card .box .content div p {
    color:  rgba(0, 0, 0, 0.714);
    font-size: 12px;
    font-weight: 900;
    margin-top: 10px;
}